[submodule "js/lib/troopjs-bundle"]
	path = js/lib/troopjs-bundle
	url = https://github.com/troopjs/troopjs-bundle.git
[submodule "js/lib/jquery"]
	path = js/lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "js/lib/requirejs"]
	path = js/lib/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "bower_components/todomvc-common"]
	path = bower_components/todomvc-common
	url = https://github.com/tastejs/todomvc-common.git
