[submodule "src/js/lib/jquery"]
	path = src/js/lib/jquery
	url = git@github.com:troopjs/jquery.git
[submodule "src/js/lib/composejs"]
	path = src/js/lib/composejs
	url = git@github.com:troopjs/compose.git
[submodule "src/js/lib/requirejs"]
	path = src/js/lib/requirejs
	url = git@github.com:troopjs/requirejs.git
[submodule "build/lib/rjs"]
	path = build/lib/rjs
	url = git@github.com:troopjs/r.js.git
[submodule "src/js/lib/hasjs"]
	path = src/js/lib/hasjs
	url = git@github.com:troopjs/has.js.git
[submodule "src/js/lib/troopjs"]
	path = src/js/lib/troopjs
	url = git@github.com:troopjs/troopjs.git
[submodule "src/js/lib/troopjs-jquery"]
	path = src/js/lib/troopjs-jquery
	url = git@github.com:troopjs/troopjs-jquery.git
[submodule "src/js/lib/troopjs-requirejs"]
	path = src/js/lib/troopjs-requirejs
	url = git@github.com:troopjs/troopjs-requirejs.git
[submodule "build/lib/jshint"]
	path = build/lib/jshint
	url = https://github.com/jshint/jshint.git
[submodule "src/js/lib/jsonjs"]
	path = src/js/lib/jsonjs
	url = git@github.com:troopjs/JSON-js.git
