<%
var i = data.i;
var item = data.item;

if (item.completed) { %>
<li class="done">
	<div class="view">
		<input class="toggle" type="checkbox" data-action="status(<%= i %>)" checked>
		<label contenteditable="true" data-action="edit(<%= i %>)"><%= item.text %></label>
		<a class="destroy" data-action="delete(<%= i %>)"></a>
	</div>
</li>
<% } else { %>
<li>
	<div class="view">
		<input class="toggle" type="checkbox" data-action="status(<%= i %>)">
		<label contenteditable="true" data-action="edit(<%= i %>)"><%= item.text %></label>
		<a class="destroy" data-action="delete(<%= i %>)"></a>
	</div>
</li>
<% } %>